@import "tailwindcss";

@theme{

  --color-navbar: #ffffff;
  --color-btn: #3364F7;
  --color-link: #2a5bd7;

  --box-shadow-custom: 0 0 15px rgba(0, 0, 0, 0.3);
  --box-shadow-right: 10px 0px 10px -5px rgba(0, 0, 0, 0.3);

  --font-roboto: "Roboto", sans-serif;
  --font-montserrat: "Montserrat";
}
